<section class="row my-4 container justify-content-center">
    <form [formGroup]="registerUser" (ngSubmit)="handleRegister()">
    <table class="">
        <tr>
            <td class="text-danger">Enter your Name:</td>
            <td>
                <div class="mb-3">
             <input class="form-control" formControlName="name" placeholder="Enter your name" >
              </div>
            </td>
        </tr>
        <tr>
            <td class="text-danger">Enter your Email:</td>
            <td>
                <div class="mb-3">
                    <input class="form-control" formControlName="email" placeholder="Enter valid email" >
                </div>
            </td>
        </tr>
        <tr>
            <td class="text-danger">Enter the password:</td>
            <td>
                <div class="mb-3">
                    <input class="form-control" formControlName="password" placeholder="Enter Strong password">
                </div>
            </td>
        </tr>
        <tr>
            <td class="text-danger">Enter your status:</td>
            <td>
                <div class="form-check">
                    <input class="form-check-input" value="true" type="radio" formControlName="status">
                    <label class="form-check-label" for="flexRadioDefault1">
                      Married
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" formControlName="status" value="false" >
                    <label class="form-check-label" for="flexRadioDefault2">
                      Not Married
                    </label>
                  </div>
            </td>
        </tr>
        <tr>
            <td class="text-danger">Choose your gender:</td>
            <td>
                <div class="mb-3">
                    <select class="form-control" formControlName="gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td class="text-danger">Enter your age:</td>
            <td>
                <div class="mb-3">
                    <input class="form-control" placeholder="Enter your age" formControlName="age" >
                </div>
            </td>
        </tr>
        <tr>
           <td>
            </td>
            <td>
                <div class="mb-3">
                    <button class="btn btn-danger">Add new Admin</button>
                   </div>
            </td>
        </tr>
    </table>    
    </form>

</section>