<div class="row justify-content-center login">
    <form #login="ngForm" class="col-md-6 col-12 text-center border border-3 border-success rounded p-4" (ngSubmit)="handleLogin(login)" >
        <h4 class="text-success text-center my-4 text-decoration-underline">
        Login</h4>
        <div class="alert alert-danger" *ngIf="msg!=''">{{msg}}
        </div>
        <div class="mb-3">
            <input [ngClass]="
            {'form-control':true,
            'is-invalid':email.invalid && (x || login.submitted)}" placeholder="Enter your emanil" name="email" #email='ngModel' [(ngModel)]="user.email" email required>
            <div class="alert alert-danger m-0 p-0" *ngIf="email.invalid && (x || login.submitted)">
                <p *ngIf="email.errors?.['required']" class="p-0 m-0">
                email is required</p>
                <p *ngIf="email.errors?.['email']">please enter a valid email</p>    
            </div>
        </div>
        <div class="my-3">
            <input class="form-control" name=password #password="ngModel" placeholder="enter your password" [(ngModel)]="user.password" required minlength="6" maxlength="20">
            <div class="alert alert-danger m-0 p-0" *ngIf="password.invalid && (x || password.touched || login.submitted)">
                <p *ngIf="password.errors?.['required']">password is required</p>
                <p *ngIf="password.errors?.['minlenght'] || password.errors?.['maxlength']">password must be from 6 to 20 characters</p>
            </div> 
        </div>
        <div class="mb-3">
            <button class="btn btn-success">Login</button>
            <br>
            <a (click)="handleReg()" class="text-primary">Or Register new account</a>
       </div>
        
    </form>

</div>
