<table class="table table-bordered" *ngIf="type == 'admin'">
    <thead>
        <tr>
            <th>_id</th>
            <th>name</th>
            <th>Code</th>
            <th>Is Available</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let prop of allprop">
            <th>{{prop._id}}</th>
            <th>{{prop.name}}</th>
            <th>{{prop.num}}</th>
            <th>{{prop.isAvailable}}</th>
            
            <!-- <th> -->
                <!-- <img *ngIf="user.img; else NoImg" src="http://localhost:3001/files/{{user.img}}" width="50" height="50">
                <ng-template #NoImg>User has no image</ng-template> -->
            <!-- </th> -->
            <th>
                <button routerLink="/user/show/{{prop._id}}" class="mx-2 btn btn-primary">show</button>
                <button  class="mx-2 btn btn-warning">edit</button>
                <button  class="mx-2 btn btn-danger">delete</button>
            </th>
        </tr>
    </tbody>
</table>
